<div class= 'container'>
  <div class = 'linespaced'>
    <body class = "bodyit">
      <%= Idea.random %>

      <div class="row">
      </br>
      </br>
          <div class="col-md-6"><%= button_to "Take it", taken_path(info: Idea.random) %> </div>
          <div class="col-md-6"> <%= button_to "Leave it", root_path(thing: "next") %></div>

      </div>
    </body>
  </div>
</div>
