<div class= 'container'>
</br>
</br>
</br>
</br>
</br>
</br>

  <%= Idea.random %>


<%= button_to "Take it", taken_path(info: Idea.random) %> OR <%= button_to "Leave it", root_path(thing: "next") %>


</div>
