<div class= 'container'>
  <div class = 'generator'>
    Need an idea?
    <%=button_to "Yes!", root_path(thing: "next"), class: "pull-right choose btn btn-success" %>
  </div>

  <div class = 'newidea'>
    Submit an idea you'd like to see become a reality
  </div>

</div>
